@font-face {
    font-family: ApertureSans;
    src: url(fonts/Aperture/APERTURE_SANS_Regular.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SANS_Regular.woff) format("woff"),url(fonts/Aperture/APERTURE_SANS_Regular.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SANS_Regular.otf) format("opentype");
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400
}

@font-face {
    font-family: ApertureSans;
    src: url(fonts/Aperture/APERTURE_SANS_Regular_Italic.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SANS_Regular_Italic.woff) format("woff"),url(fonts/Aperture/APERTURE_SANS_Regular_Italic.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SANS_Regular_Italic.otf) format("opentype");
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    font-weight: 400
}

@font-face {
    font-family: ApertureSans;
    src: url(fonts/Aperture/APERTURE_SANS_Bold.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SANS_Bold.woff) format("woff"),url(fonts/Aperture/APERTURE_SANS_Bold.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SANS_Bold.otf) format("opentype");
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    font-weight: 500
}

@font-face {
    font-family: ApertureSans;
    src: url(fonts/Aperture/APERTURE_SANS_Bold_ItalicWEB.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SANS_Bold_ItalicWEB.woff) format("woff"),url(fonts/Aperture/APERTURE_SANS_Bold_ItalicWEB.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SANS_Bold_ItalicWEB.otf) format("opentype");
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    font-weight: 500
}

@font-face {
    font-family: apertureserif;
    src: url(fonts/Aperture/APERTURE_SERIF_Light.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SERIF_Light.woff) format("woff"),url(fonts/Aperture/APERTURE_SERIF_Light.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SERIF_Light.otf) format("opentype");
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400
}

@font-face {
    font-family: apertureserif;
    src: url(fonts/Aperture/APERTURE_SERIF_Light_Italic.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SERIF_Light_Italic.woff) format("woff"),url(fonts/Aperture/APERTURE_SERIF_Light_Italic.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SERIF_Light_Italic.otf) format("opentype");
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    font-weight: 400
}

@font-face {
    font-family: apertureserif;
    src: url(fonts/Aperture/APERTURE_SERIF_Bold.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SERIF_Bold.woff) format("woff"),url(fonts/Aperture/APERTURE_SERIF_Bold.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SERIF_Bold.otf) format("opentype");
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
    font-weight: 600
}

@font-face {
    font-family: apertureserif;
    src: url(fonts/Aperture/APERTURE_SERIF_Bold_ItalicWEB.woff2#iefix) format("woff2"),url(fonts/Aperture/APERTURE_SERIF_Bold_ItalicWEB.woff) format("woff"),url(fonts/Aperture/APERTURE_SERIF_Bold_ItalicWEB.ttf) format("truetype"),url(fonts/Aperture/APERTURE_SERIF_Bold_ItalicWEB.otf) format("opentype");
    font-display: auto;
    font-style: italic;
    font-stretch: normal;
    font-weight: 600
}
